In [8]:
import numpy as np
import pandas as pd

In [10]:
entity_code = {
    'China': 'CHN',
    'India': 'IND',
    'Nigeria': 'NGA',
    'USA': 'USA',
    'Indonesia': 'IDN',
    'Vietnam': 'VNM',
    'Brazil': 'BRA',
    'Mexico': 'MEX',
    'SouthAfrica': 'ZAF',
    'Canada': 'CAN',
    'Germany': 'DEU',
    'UK': 'GBR',
    'Thailand': 'THA',
    'Malaysia': 'MYS',
    'Philippines': 'PHL',
    'Algeria': 'DZA',
    'Poland': 'POL',
    'Japan': 'JPN',
    'France': 'FRA',
    'Russia': 'RUS',
    'Spain': 'ESP',
    'UAE': 'ARE',
    'Turkey': 'TUR',
    'Australia': 'AUS',
    'KoreaRep': 'KOR',
    'Tunisia': 'TUN',
    'Iran': 'IRN',
    'Netherlands': 'NLD',
    'Greece': 'GRC',
    'Morocco': 'MAR',
    'SaudiArabia': 'SAU',
    'Italy': 'ITA',
    'Belgium': 'BEL',
    'NewZealand': 'NZL',
    'Ireland': 'IRL',
    'Sweden': 'SWE',
    'Czech': 'CZE',
    'Portugal': 'PRT',
    'Slovakia': 'SVK',
    'Austria': 'AUT',
    'Switzerland': 'CHE',
    'Israel': 'ISR',
    'Azerbaijan': 'AZE',
    'Egypt': 'EGY',
    'Kenya': 'KEN',
    'Singapore': 'SGP',
    'Kuwait': 'KWT',
    'Lebanon': 'LBN',
    'KoreaDPR': 'PRK',
    'Syria': 'SYR',
    'Afghanistan': 'AFG',
    'Romania': 'ROU',
    'Chile': 'CHL'
}

new_country_name = {
    'USA': 'United States',
    'UK': 'United Kingdom',
    'SouthAfrica': 'South Africa',
    'UAE': 'United Arab Emirates',
    'KoreaRep': 'South Korea',
    'SaudiArabia': 'Saudi Arabia',
    'NewZealand': 'New Zealand',
    'Czech': 'Czech Republic',
    'KoreaDPR': 'North Korea'
}

# Cereals

In [13]:
cereal_df = pd.read_csv('../Food Allergies Data/per-capita-consumption-of-cereals-by-commodity-type-daily-kilocalories.csv')
cereal_df.columns

Index(['Entity', 'Code', 'Year',
       'Food Balance Sheets: Wheat and products - Food supply (kcal/capita/day) (FAO (2017))',
       'Food Balance Sheets: Rice (Milled Equivalent) - Food supply (kcal/capita/day) (FAO (2017))',
       'Food Balance Sheets: Barley and products - Food supply (kcal/capita/day) (FAO (2017))',
       'Food Balance Sheets: Maize and products - Food supply (kcal/capita/day) (FAO (2017))',
       'Food Balance Sheets: Rye and products - Food supply (kcal/capita/day) (FAO (2017))',
       'Food Balance Sheets: Oats - Food supply (kcal/capita/day) (FAO (2017))',
       'Food Balance Sheets: Sorghum and products - Food supply (kcal/capita/day) (FAO (2017))'],
      dtype='object')

#### Isolating Wheat

In [14]:
with open('../Food Allergies Data/wheat-consumption-per-capita.csv', 'w') as f:
    f.write(cereal_df.to_csv(columns=['Entity', 'Code', 'Year', 'Food Balance Sheets: Wheat and products - Food supply (kcal/capita/day) (FAO (2017))']))
f.close()

#### Isolating Rice

In [15]:
with open('../Food Allergies Data/rice-consumption-per-capita.csv', 'w') as f:
    f.write(cereal_df.to_csv(columns=['Entity', 'Code', 'Year', 'Food Balance Sheets: Rice (Milled Equivalent) - Food supply (kcal/capita/day) (FAO (2017))']))
f.close()

#### Isolating Oats

In [16]:
with open('../Food Allergies Data/oats-consumption-per-capita.csv', 'w') as f:
    f.write(cereal_df.to_csv(columns=['Entity', 'Code', 'Year', 'Food Balance Sheets: Oats - Food supply (kcal/capita/day) (FAO (2017))']))
f.close()

#### Isolating Corn (Maize)

In [17]:
with open('../Food Allergies Data/corn-maize-consumption-per-capita.csv', 'w') as f:
    f.write(cereal_df.to_csv(columns=['Entity', 'Code', 'Year', 'Food Balance Sheets: Maize and products - Food supply (kcal/capita/day) (FAO (2017))']))
f.close()

#### Isolating Barley

In [18]:
with open('../Food Allergies Data/barley-consumption-per-capita.csv', 'w') as f:
    f.write(cereal_df.to_csv(columns=['Entity', 'Code', 'Year', 'Food Balance Sheets: Barley and products - Food supply (kcal/capita/day) (FAO (2017))']))
f.close()

#### Isolating Rye

In [19]:
with open('../Food Allergies Data/rye-consumption-per-capita.csv', 'w') as f:
    f.write(cereal_df.to_csv(columns=['Entity', 'Code', 'Year', 'Food Balance Sheets: Rye and products - Food supply (kcal/capita/day) (FAO (2017))']))
f.close()

# Nuts

In [5]:
def general_nut_write(csv_header, dirty_s, fields_per_row, num_countries):
    ret_string = ''
    ret_string += csv_header + '\n'
    for n in range(num_countries):
        i = n * fields_per_row

        for year in range(2012, 2017):
            sp = i + (year-2012) * 3 + 2

            co = dirty_s[i]
            nco = co
            if (co in new_country_name):
                nco = new_country_name[co]
        
            ret_string += nco + ',' +entity_code[co] + ',' + str(year) + ',' +\
                          dirty_s[sp]+','+dirty_s[sp+1] + '\n'
    
    return ret_string

### Almonds

In [51]:
# Source: nutfruit.org
dirty_almond_data = '''USA 261,306 0.91 1.81 282,672 0.96 1.91 278,435 0.95 1.91 257,919 0.88 1.76 315,736 0.98 1.96
India 94,536 0.08 0.16 46,580 0.04 0.08 60,180 0.05 0.09 78,254 0.06 0.12 82,915 0.06 0.13
Germany 72,499 0.89 1.78 78,903 0.97 1.93 72,725 0.90 1.79 71,222 0.88 1.77 73,163 0.89 1.79
Spain 59,400 1.29 2.58 49,351 1.07 2.14 79,960 1.69 3.39 64,426 1.40 2.79 72,986 1.57 3.15
Italy 37,130 0.61 1.23 39,457 0.65 1.30 40,748 0.68 1.37 39,738 0.66 1.33 41,437 0.70 1.39
UAE 38,706 1.80 2.40 41,699 1.00 1.34 41,613 0.88 1.17 49,949 0.91 1.21 41,245 1.30 1.73
France 30,309 0.48 0.96 35,525 0.56 1.13 35,690 0.54 1.08 36,834 0.57 1.14 35,941 0.56 1.11
Turkey 8,172 0.32 1.27 13,853 0.19 0.76 13,032 0.17 0.69 23,612 0.30 1.20 34,710 0.44 1.75
Canada 23,800 0.70 1.39 30,784 0.90 1.80 27,235 0.77 1.54 26,107 0.73 1.45 29,739 0.82 1.64
Japan 25,932 0.20 0.27 40,391 0.32 0.43 35,373 0.28 0.37 38,131 0.30 0.40 28,059 0.22 0.29
Australia 20,197 0.85 1.55 20,802 0.91 1.65 22,032 0.93 1.69 22,916 0.97 1.76 25,192 1.04 1.90
KoreaRep 22,004 0.44 1.76 24,937 0.50 2.02 25,434 0.51 2.02 19,946 0.40 1.59 23,824 0.47 1.88
UK 15,646 0.25 0.50 13,922 0.22 0.45 18,187 0.28 0.57 22,465 0.35 0.69 23,244 0.35 0.71
China 95,956 0.07 0.29 85,628 0.06 0.26 59,674 0.04 0.16 52,027 0.04 0.11 21,885 0.02 0.05
Tunisia 13,200 1.25 1.79 15,976 1.51 2.16 16,395 1.49 2.13 15,377 1.37 1.95 19,028 1.67 2.38
Iran 25,056 0.14 0.25 15,093 0.20 0.36 15,064 0.19 0.35 15,412 0.19 0.35 15,474 0.19 0.35
Netherlands 13,321 0.80 1.60 19,137 1.15 2.30 14,190 0.85 1.71 14,649 0.87 1.73 15,056 0.89 1.77
Greece 12,075 1.07 1.64 10,871 0.96 1.48 10,224 0.92 1.41 8,043 0.73 1.13 12,146 1.09 1.67
Morocco 8,879 0.28 0.56 6,745 0.21 0.42 9,110 0.27 0.54 9,956 0.29 0.58 10,101 0.29 0.57
SaudiArabia 9,132 0.33 0.44 6,414 0.23 0.31 7,619 0.26 0.35 7,370 0.23 0.31 9,945 0.31 0.41'''.split()

In [62]:
fields_per_row = 16
num_countries = int(len(dirty_almond_data)/fields_per_row)
csv_header_almond = 'Entity,Code,Year,AlmondConsumptionPerCapita(kg/year),EstAlmondConsumptionPerCapita(kg/year)'

In [63]:
with open('../Food Allergies Data/almond-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_almond, dirty_almond_data, fields_per_row, num_countries))
f.close()

## Brazil Nuts

In [64]:
# Source: nutfruit.org
dirty_brazilnut_data = '''UK 3,957 0.064 0.194 4,458 0.072 0.217 5,247 0.082 0.248 6,362 0.098 0.298 5,658 0.086 0.261
Germany 3,202 0.039 0.130 4,501 0.055 0.184 4,219 0.052 0.173 3,714 0.046 0.153 4,448 0.054 0.181
USA 7,571 0.024 0.073 7,021 0.023 0.069 7,858 0.025 0.075 8,002 0.025 0.075 2,755 0.009 0.026
Italy 533 0.009 0.090 590 0.010 0.098 383 0.006 0.064 618 0.010 0.103 1,137 0.019 0.191
Canada 770 0.023 0.230 926 0.027 0.271 946 0.027 0.268 1,550 0.043 0.431 876 0.024 0.241
France 300 0.005 0.167 325 0.005 0.172 426 0.006 0.215 601 0.009 0.311 719 0.011 0.370
Poland 95 0.002 0.025 165 0.004 0.043 245 0.006 0.064 425 0.011 0.110 526 0.014 0.138
Australia 1,617 0.073 0.292 1,545 0.069 0.277 1,462 0.063 0.252 1,390 0.058 0.232 442 0.018 0.073
Spain 415 0.009 0.030 244 0.005 0.018 408 0.009 0.029 481 0.010 0.035 416 0.009 0.030
Belgium 205 0.019 0.063 154 0.014 0.047 362 0.033 0.109 280 0.025 0.083 410 0.036 0.120
Russia 909 0.006 0.060 746 0.005 0.052 584 0.004 0.041 406 0.003 0.028 277 0.002 0.019
NewZealand 296 0.068 0.272 370 0.085 0.339 443 0.098 0.390 491 0.108 0.433 273 0.059 0.234
Ireland 124 0.028 0.112 140 0.031 0.126 171 0.036 0.143 256 0.055 0.218 257 0.054 0.181
Sweden 699 0.075 0.750 221 0.024 0.235 270 0.028 0.280 206 0.021 0.211 223 0.023 0.227
Austria 64 0.008 0.025 99 0.012 0.040 95 0.011 0.037 185 0.022 0.072 200 0.023 0.077
Switzerland 74 0.009 0.090 118 0.015 0.150 119 0.015 0.146 144 0.017 0.174 173 0.021 0.206
Czech 69 0.007 0.070 112 0.011 0.107 187 0.018 0.175 139 0.013 0.132 166 0.016 0.157
Greece 39 0.003 0.011 22 0.002 0.007 121 0.011 0.036 91 0.008 0.028 105 0.009 0.031
Portugal 22 0.002 0.007 40 0.004 0.012 78 0.007 0.025 112 0.011 0.036 95 0.009 0.031
Slovakia 20 0.004 0.037 59 0.011 0.108 54 0.010 0.100 60 0.011 0.111 81 0.015 0.149'''.split()

In [65]:
fields_per_row = 16
num_countries = int(len(dirty_brazilnut_data)/fields_per_row)
csv_header_brazil_nut = 'Entity,Code,Year,BrazilNutConsumptionPerCapita(kg/year),EstBrazilNutConsumptionPerCapita(kg/year)'

In [66]:
with open('../Food Allergies Data/brazil-nut-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_brazil_nut, dirty_brazilnut_data, fields_per_row, num_countries))
f.close()

## Cashews

In [67]:
# Source: nutfruit.org
dirty_cashews_data = '''India 289,677 0.245 0.500 230,278 0.182 0.360 224,384 0.177 0.360 257,190 0.203 0.406 301,719 0.228 0.456
USA 109,448 0.354 1.073 130,477 0.422 1.279 128,342 0.402 1.219 141,119 0.439 1.329 143,256 0.445 1.347
Germany 26,177 0.320 1.281 25,591 0.313 1.252 23,016 0.283 1.133 23,810 0.295 1.180 35,930 0.439 1.097
Netherlands 12,366 0.744 0.930 23,005 1.385 1.731 20,796 1.240 1.550 23,536 1.391 1.738 17,236 1.015 1.268
UK 12,381 0.199 0.603 9,636 0.155 0.469 16,052 0.251 0.759 19,854 0.307 0.930 16,772 0.255 0.773
Australia 15,491 0.695 1.389 15,763 0.707 1.414 16,572 0.715 1.430 15,893 0.663 1.326 16,471 0.683 1.365
Canada 11,808 0.346 0.692 11,958 0.350 0.701 12,156 0.344 0.689 11,812 0.329 0.657 14,267 0.393 0.786
France 8,416 0.134 0.535 8,698 0.138 0.553 10,027 0.151 0.606 10,418 0.162 0.647 8,649 0.134 0.535
Japan 7,580 0.059 0.108 8,146 0.064 0.116 11,523 0.091 0.166 11,235 0.089 0.161 8,040 0.063 0.114
SaudiArabia 6,203 0.225 0.682 5,310 0.193 0.584 7,977 0.272 0.823 8,541 0.271 0.821 7,854 0.243 0.737
Italy 5,410 0.089 0.596 4,744 0.078 0.523 7,000 0.117 0.783 6,745 0.113 0.752 7,060 0.119 0.792
Thailand 5,920 0.088 0.131 6,010 0.089 0.133 8,164 0.121 0.181 8,290 0.122 0.182 6,213 0.090 0.129
Russia 10,094 0.071 0.284 10,060 0.071 0.283 12,161 0.086 0.345 3,604 0.025 0.100 5,830 0.040 0.162
Israel 4,041 0.530 1.060 2,840 0.373 0.745 4,490 0.561 1.121 4,349 0.539 1.079 4,001 0.488 0.977
China 51,043 0.038 0.116 51,350 0.038 0.116 52,159 0.038 0.115 49,925 0.036 0.109 3,998 0.003 0.008
KoreaRep 1,150 0.023 0.071 2,676 0.054 0.164 3,920 0.078 0.236 3,085 0.061 0.186 3,964 0.078 0.237
Spain 4,383 0.095 0.381 4,935 0.107 0.428 4,511 0.096 0.382 5,303 0.115 0.460 3,498 0.075 0.302
Malaysia 2,120 0.075 0.150 1,323 0.047 0.094 2,013 0.067 0.133 2,297 0.076 0.151 2,971 0.095 0.191
NewZealand 2,389 0.547 1.094 2,651 0.607 1.214 2,884 0.635 1.270 3,006 0.664 1.328 2,811 0.603 1.206
Sweden 1,301 0.139 0.555 2,213 0.236 0.944 2,090 0.217 0.869 2,080 0.213 0.851 2,739 0.278 1.114'''.split()

In [68]:
fields_per_row = 16
num_countries = int(len(dirty_cashews_data)/fields_per_row)
csv_header_cashew = 'Entity,Code,Year,CashewConsumptionPerCapita(kg/year),EstCashewConsumptionPerCapita(kg/year)'

In [69]:
with open('../Food Allergies Data/cashew-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_cashew, dirty_cashews_data, fields_per_row, num_countries))
f.close()

## Hazelnuts

In [70]:
# Source: nutfruit.org
dirty_hazelnuts_data = '''Italy 71,884 1.19 1.58 88,227 1.46 1.94 79,130 1.33 1.77 89,473 1.50 2.00 78,000 1.31 1.75
Turkey 84,214 1.15 2.30 65,000 0.89 1.78 60,531 0.80 1.60 40,000 0.51 1.02 60,000 0.75 1.51
Germany 52,599 0.64 1.29 61,676 0.75 1.51 51,252 0.63 1.26 58,615 0.73 1.45 55,572 0.68 1.36
France 27,880 0.44 1.77 26,145 0.42 1.66 24,699 0.37 1.49 27,181 0.42 1.69 25,290 0.39 1.56
USA 15,067 0.03 0.08 16,289 0.02 0.07 17,131 0.04 0.11 8,276 0.03 0.08 15,284 0.05 0.14
Canada 11,105 0.33 0.98 9,596 0.28 0.85 9,504 0.27 0.82 12,652 0.35 1.07 11,331 0.31 0.95
Spain 10,922 0.24 0.47 12,343 0.27 0.54 11,000 0.23 0.47 12,228 0.27 0.53 10,038 0.22 0.43
Azerbaijan 7,611 0.84 0.93 5,150 0.57 0.63 1,604 0.17 0.19 7,873 0.81 0.90 9,917 1.02 1.13
Switzerland 8,556 1.09 1.46 9,737 1.24 1.66 9,651 1.19 1.58 8,607 1.04 1.38 9,206 1.10 1.46
Russia 13,174 0.09 0.37 9,168 0.06 0.26 11,217 0.08 0.32 6,200 0.04 0.17 5,479 0.04 0.15
Belgium 6,684 0.61 0.82 6,959 0.64 0.85 6,547 0.59 0.79 4,606 0.41 0.54 4,652 0.41 0.55
Poland 10,159 0.27 1.06 8,673 0.23 0.91 7,833 0.21 0.82 11,494 0.30 1.19 3,449 0.09 0.36
Australia 2,763 0.12 0.38 2,886 0.13 0.34 2,594 0.11 0.30 2,548 0.11 0.28 2,819 0.12 0.35
Brazil 2,801 0.01 0.06 2,385 0.01 0.05 3,040 0.02 0.06 3,044 0.01 0.06 2,635 0.01 0.05
Austria 1,663 0.20 0.40 2,312 0.28 0.55 2,603 0.31 0.61 2,293 0.27 0.54 2,026 0.23 0.47
Egypt 3,578 0.05 0.18 2,773 0.04 0.14 2,059 0.02 0.10 1,882 0.02 0.08 1,832 0.02 0.08
UK 1,689 0.03 0.08 2,246 0.04 0.11 1,638 0.03 0.08 1,625 0.03 0.08 1,214 0.02 0.06
Greece 1,953 0.17 0.69 1,884 0.17 0.67 1,400 0.13 0.50 1,086 0.10 0.40 1,196 0.11 0.43
Israel 1,704 0.22 0.90 1,182 0.16 0.62 1,264 0.16 0.63 996 0.12 0.49 1,116 0.14 0.55
SaudiArabia 731 0.03 0.11 723 0.03 0.10 663 0.02 0.09 763 0.02 0.10 857 0.03 0.11'''.split()

In [72]:
fields_per_row = 16
num_countries = int(len(dirty_hazelnuts_data)/fields_per_row)
csv_header_hazelnuts = 'Entity,Code,Year,HazelnutsConsumptionPerCapita(kg/year),EstHazelnutsConsumptionPerCapita(kg/year)'

In [77]:
with open('../Food Allergies Data/hazelnuts-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_hazelnuts, dirty_hazelnuts_data, fields_per_row, num_countries))
f.close()

## Macadamia

In [78]:
# Source nutfruit.org
dirty_macadamia_data = '''USA 9,830 0.032 0.127 9,370 0.030 0.121 10,269 0.033 0.133 9,907 0.031 0.123 8,829 0.027 0.110
China 4,539 0.003 0.030 5,843 0.004 0.044 2,691 0.002 0.020 1,657 0.001 0.012 4,055 0.003 0.028
Australia 2,871 0.129 0.257 3,328 0.149 0.298 3,157 0.136 0.272 3,255 0.136 0.272 3,347 0.139 0.277
Japan 2,187 0.017 0.052 2,001 0.016 0.047 1,976 0.016 0.047 2,250 0.018 0.054 3,233 0.025 0.077
Kenya 3,470 0.086 0.262 2,374 0.059 0.179 3,507 0.077 0.233 4,090 0.089 0.269 2,634 0.054 0.165
Germany 701 0.009 0.045 1,206 0.015 0.074 1,222 0.015 0.075 1,869 0.023 0.116 2,011 0.025 0.123
Brazil 984 0.005 0.050 1,064 0.006 0.055 1,054 0.005 0.052 1,328 0.006 0.064 1,431 0.007 0.069
Canada 1,241 0.036 0.072 960 0.028 0.056 2,130 0.060 0.121 991 0.028 0.055 1,001 0.028 0.055
KoreaRep 301 0.006 0.060 196 0.004 0.040 306 0.006 0.061 504 0.010 0.100 667 0.013 0.131
Spain 209 0.005 0.017 236 0.005 0.017 358 0.008 0.025 284 0.006 0.021 613 0.013 0.044
UK 268 0.004 0.020 294 0.005 0.024 472 0.007 0.037 639 0.010 0.049 436 0.007 0.033
Malaysia 164 0.006 0.024 123 0.004 0.017 138 0.005 0.018 185 0.006 0.024 225 0.007 0.029
Thailand 320 0.005 0.050 25 0.000 0.004 27 0.000 0.004 77 0.001 0.011 209 0.003 0.030
NewZealand 97 0.022 0.088 148 0.034 0.135 74 0.016 0.065 226 0.050 0.200 201 0.043 0.172
Italy 177 0.003 0.012 211 0.003 0.014 146 0.002 0.010 244 0.004 0.016 198 0.003 0.013
Singapore 208 0.041 0.164 123 0.024 0.097 341 0.062 0.248 206 0.037 0.147 170 0.030 0.121
France 141 0.002 0.008 112 0.002 0.007 173 0.003 0.010 205 0.003 0.013 157 0.002 0.010
Israel 41 0.005 0.036 110 0.014 0.096 29 0.004 0.024 110 0.014 0.091 127 0.016 0.104
Kuwait 114 0.043 0.426 97 0.036 0.364 109 0.031 0.312 54 0.014 0.138 70 0.017 0.172
Lebanon 45 0.011 0.107 84 0.020 0.200 78 0.016 0.158 51 0.009 0.087 69 0.011 0.114'''.split()

In [80]:
fields_per_row = 16
num_countries = int(len(dirty_macadamia_data)/fields_per_row)
csv_header_macadamia = 'Entity,Code,Year,MacadamiaConsumptionPerCapita(kg/year),EstMacadamiaConsumptionPerCapita(kg/year)'

In [89]:
with open('../Food Allergies Data/macadamia-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_macadamia, dirty_macadamia_data, fields_per_row, num_countries))
f.close()

## Pecans

In [94]:
# Source nutfruit.org
dirty_pecans_data = '''USA 67,826 0.195 0.780 45,109 0.159 0.636 48,531 0.218 0.872 65,139 0.202 0.810 64,988 0.202 0.807
Mexico 16,837 0.157 0.314 28,500 0.265 0.530 41,123 0.332 0.664 26,700 0.210 0.420 33,358 0.262 0.523
Canada 4,554 0.133 0.266 4,330 0.127 0.254 4,173 0.118 0.236 4,997 0.139 0.278 5,509 0.152 0.304
Netherlands 2,216 0.133 0.665 2,408 0.145 0.725 2,845 0.170 0.848 3,346 0.198 0.988 4,156 0.245 1.223
UK 2,445 0.039 0.156 2,235 0.036 0.144 2,478 0.039 0.155 2,974 0.046 0.184 2,560 0.039 0.156
China 393 <0.000 0.000 180 <0.000 0.001 133 <0.000 0.001 889 0.001 0.006 2,155 0.002 0.015
Israel 949 0.124 0.248 1,572 0.206 0.412 1,571 0.196 0.392 1,316 0.163 0.326 1,531 0.187 0.374
France 813 0.013 0.065 837 0.013 0.066 645 0.010 0.049 825 0.013 0.064 999 0.015 0.077
Australia 907 0.039 0.189 859 0.037 0.179 844 0.207 0.176 998 0.042 0.167 892 0.037 0.148
Germany 214 0.003 0.030 189 0.002 0.023 657 0.008 0.081 1,186 0.015 0.147 833 0.010 0.102
KoreaRep 145 0.003 0.030 284 0.006 0.058 406 0.008 0.081 453 0.009 0.090 610 0.012 0.120
SouthAfrica 509 0.010 0.020 680 0.014 0.027 710 0.014 0.027 740 0.014 0.027 500 0.009 0.018
Belgium 152 0.014 0.140 123 0.011 0.113 161 0.015 0.145 228 0.020 0.202 373 0.033 0.328
Italy 119 0.002 0.020 115 0.002 0.019 209 0.004 0.035 227 0.004 0.038 306 0.005 0.051
Japan 153 0.001 0.010 153 0.001 0.012 141 0.001 0.011 247 0.002 0.019 245 0.002 0.019
Switzerland 60 0.008 0.032 109 0.014 0.056 213 0.026 0.105 168 0.020 0.081 231 0.027 0.110
Spain 44 0.001 0.010 72 0.002 0.016 73 0.002 0.015 130 0.003 0.028 191 0.004 0.041
UAE 53 0.006 0.012 98 0.012 0.024 101 0.011 0.021 161 0.018 0.035 147 0.016 0.032
SaudiArabia 48 0.002 0.020 107 0.004 0.039 122 0.004 0.041 184 0.006 0.058 135 0.004 0.042'''.split()

In [95]:
fields_per_row = 16
num_countries = int(len(dirty_pecans_data)/fields_per_row)
csv_header_pecans = 'Entity,Code,Year,PecansConsumptionPerCapita(kg/year),EstPecansConsumptionPerCapita(kg/year)'

In [96]:
with open('../Food Allergies Data/pecans-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_pecans, dirty_pecans_data, fields_per_row, num_countries))
f.close()

## Pine Nuts

In [104]:
# Source nutfruit.org
dirty_pinenuts_data = '''China 4,138 0.003 0.009 2,058 0.002 0.005 8,882 0.006 0.020 1,610 0.001 0.004 4,605 0.003 0.010
KoreaDPR 1,877 0.079 0.316 1,159 0.049 0.196 1,329 0.056 0.224 2,318 0.092 0.369 3,868 0.152 0.610
USA 3,718 0.012 0.048 3,144 0.010 0.041 3,350 0.011 0.042 3,871 0.012 0.048 3,659 0.011 0.045
Russia 3,734 0.026 0.260 1,389 0.010 0.098 2,550 0.018 0.181 3,920 0.027 0.273 3,304 0.023 0.230
Germany 2,449 0.030 0.167 2,259 0.028 0.154 2,365 0.029 0.162 5,278 0.065 0.363 2,294 0.028 0.156
Italy 1,024 0.017 0.068 2,153 0.036 0.142 375 0.006 0.025 2,164 0.036 0.145 2,214 0.037 0.149
Netherlands 1,933 0.116 0.465 - - - 1,563 0.093 0.373 1,391 0.082 0.329 1,545 0.091 0.364
UK 471 0.008 0.032 710 0.011 0.046 398 0.006 0.025 448 0.007 0.028 1,006 0.015 0.061
Australia 860 0.039 0.156 610 0.028 0.112 622 0.027 0.107 722 0.030 0.120 902 0.037 0.150
Israel 384 0.050 0.200 361 0.048 0.193 375 0.047 0.188 359 0.045 0.178 634 0.077 0.310
Spain 557 0.012 0.060 1,033 0.023 0.114 1,022 0.022 0.108 416 0.009 0.045 630 0.014 0.068
Portugal 118 0.011 0.022 47 0.004 0.009 96 0.009 0.018 141 0.014 0.027 396 0.038 0.076'''.split()

In [105]:
fields_per_row = 16
num_countries = int(len(dirty_pinenuts_data)/fields_per_row)
csv_header_pinenuts = 'Entity,Code,Year,PineNutsConsumptionPerCapita(kg/year),EstPineNutsConsumptionPerCapita(kg/year)'

In [106]:
with open('../Food Allergies Data/pine-nuts-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_pinenuts, dirty_pinenuts_data, fields_per_row, num_countries))
f.close()

## Pistachios

In [107]:
# Source nutfruit.org
dirty_pistachios_data = '''Turkey 83,328 1.14 1.90 123,212 1.68 2.81 70,229 0.93 1.54 119,256 1.52 2.53 130,202 1.64 2.73
USA 107,548 0.12 0.24 99,867 0.82 1.64 88,864 0.09 0.18 77,189 0.24 0.48 93,432 0.29 0.58
Iran 25,000 0.34 0.56 27,000 0.36 0.61 40,000 0.51 0.85 40,000 0.51 0.84 49,504 0.62 1.03
China 69,020 0.05 0.21 56,844 0.04 0.17 42,591 0.03 0.12 21,928 0.02 0.06 35,838 0.02 0.10
Syria 24,069 1.17 0.88 16,000 0.78 1.03 20,000 0.91 1.21 25,148 1.36 1.02 20,400 1.11 1.48
Germany 28,022 0.34 1.04 36,591 0.45 1.36 14,102 0.17 0.53 17,910 0.22 0.67 14,468 0.18 0.54
Italy 9,820 0.16 0.65 9,672 0.16 0.64 9,075 0.15 0.61 9,880 0.17 0.66 11,190 0.19 0.75
Spain 8,748 0.19 0.76 8,138 0.18 0.71 7,200 0.15 0.61 6,491 0.14 0.56 8,281 0.18 0.71
India 7,362 0.01 0.06 12,049 0.01 0.10 5,346 0.00 0.04 6,218 0.00 0.05 8,042 0.01 0.06
France 12,292 0.20 0.59 8,489 0.13 0.41 8,212 0.12 0.38 6,812 0.11 0.32 7,020 0.11 0.33
Afghanistan 15,003 0.61 1.23 15,500 0.63 1.27 10,000 0.32 0.64 7,045 0.22 0.43 6,706 0.19 0.39
SaudiArabia 731 0.03 0.04 4,886 0.18 0.30 1,043 0.04 0.06 6,407 0.20 0.34 4,004 0.12 0.21
UK 3,803 0.06 0.19 2,476 0.04 0.12 3,150 0.05 0.15 3,710 0.06 0.17 3,609 0.05 0.17
Australia 3,123 0.14 0.28 3,590 0.16 0.32 3,454 0.15 0.30 3,445 0.14 0.29 3,318 0.14 0.28
Lebanon 2,653 0.63 0.84 4,788 1.14 1.52 1,585 0.32 0.43 1,529 0.26 0.35 3,164 0.53 0.70
Israel 3,684 0.48 0.97 2,903 0.38 1.15 4,141 0.52 1.57 2,376 0.29 0.89 2,685 0.33 0.99
Russia 18,110 0.13 0.25 15,638 0.11 0.22 4,183 0.03 0.06 1,863 0.01 0.03 2,669 0.02 0.04
Poland 2,379 0.06 0.19 1,858 0.05 0.15 2,352 0.06 0.19 1,688 0.04 0.13 2,134 0.06 0.17
Greece 5,659 0.50 0.71 2,055 0.18 0.26 4,367 0.39 0.56 3,724 0.34 0.49 2,034 0.18 0.26
Japan 2,529 0.02 0.08 2,378 0.02 0.07 2,589 0.02 0.08 1,832 0.01 0.06 1,478 0.01 0.05'''.split()

In [108]:
fields_per_row = 16
num_countries = int(len(dirty_pistachios_data)/fields_per_row)
csv_header_pistachios = 'Entity,Code,Year,PistachiosConsumptionPerCapita(kg/year),EstPistachiosConsumptionPerCapita(kg/year)'

In [113]:
with open('../Food Allergies Data/pistachios-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_pistachios, dirty_pistachios_data, fields_per_row, num_countries))
f.close()

## Walnuts

In [2]:
# Source nutfruit.org
dirty_walnuts_data = '''China 181,625 0.14 0.27 185,725 0.14 0.28 206,670 0.15 0.34 249,579 0.18 0.45 403,719 0.28 0.56
USA 131,278 0.42 1.06 127,789 0.41 1.03 130,768 0.41 1.02 130,456 0.41 1.01 160,220 0.50 1.24
Iran 47,398 0.64 0.97 48,395 0.65 0.99 44,855 0.57 0.87 51,348 0.65 0.98 41,836 0.52 0.79
France 16,271 0.26 0.78 21,907 0.35 1.05 18,333 0.28 0.84 24,998 0.39 1.18 21,680 0.33 1.02
Japan 12,409 0.10 0.15 11,870 0.09 0.14 15,046 0.12 0.18 14,906 0.12 0.18 18,392 0.14 0.22
Germany 12,085 0.15 0.45 12,154 0.15 0.45 14,763 0.18 0.55 17,922 0.22 0.67 16,856 0.21 0.62
KoreaRep 12,416 0.25 0.76 10,995 0.22 0.67 13,107 0.26 0.79 12,601 0.25 0.76 16,091 0.32 0.96
India 4,446 0.00 0.02 8,721 0.01 0.03 13,097 0.01 0.04 17,919 0.01 0.05 14,751 0.01 0.04
Italy 9,124 0.15 0.30 8,596 0.14 0.28 8,707 0.15 0.29 12,748 0.21 0.43 13,829 0.23 0.47
Spain 7,951 0.17 0.52 8,955 0.19 0.59 8,815 0.19 0.57 11,202 0.24 0.74 13,746 0.30 0.90
Canada 8,378 0.25 0.49 8,634 0.25 0.51 8,860 0.25 0.50 6,404 0.18 0.36 10,650 0.29 0.59
Turkey 29,857 0.41 0.82 27,744 0.38 0.76 29,195 0.38 0.77 13,754 0.17 0.35 9,918 0.12 0.25
UK 5,146 0.08 0.25 5,351 0.09 0.26 6,711 0.10 0.32 8,225 0.13 0.39 9,001 0.14 0.41
Netherlands 2,944 0.18 0.54 3,632 0.22 0.66 4,455 0.27 0.80 9,894 0.58 1.77 8,197 0.48 1.46
Australia 6,125 0.28 0.55 6,989 0.31 0.63 9,322 0.40 0.80 9,517 0.40 0.79 7,377 0.31 0.61
Romania 4,994 0.23 0.47 4,345 0.20 0.41 3,734 0.19 0.37 6,997 0.36 0.72 6,778 0.34 0.69
Israel 3,341 0.44 0.88 3,667 0.48 0.96 3,116 0.39 0.78 4,810 0.60 1.19 4,931 0.60 1.20
Brazil 3,113 0.02 0.06 2,568 0.01 0.05 2,963 0.01 0.06 2,265 0.01 0.04 3,179 0.02 0.06
Chile 2,390 0.14 0.43 2,748 0.16 0.49 2,500 0.48 0.45 3,000 0.17 0.51 2,778 0.16 0.47
Greece 1,081 0.10 0.19 1,550 0.14 0.27 1,410 0.13 0.25 2,544 0.23 0.46 2,466 0.22 0.44'''.split()

In [3]:
fields_per_row = 16
num_countries = int(len(dirty_walnuts_data)/fields_per_row)
csv_header_walnuts = 'Entity,Code,Year,WalnutsConsumptionPerCapita(kg/year),EstWalnutsConsumptionPerCapita(kg/year)'

In [11]:
with open('../Food Allergies Data/walnuts-consumption-per-capita.csv', 'w') as f:
    f.write(general_nut_write(csv_header_walnuts, dirty_walnuts_data, fields_per_row, num_countries))
f.close()

# Missing countries

In [14]:
all_countries_df = pd.read_csv('../Food Allergies Data/all_country_codes.csv')
concatenated_df = pd.read_csv('../Food Allergies Data/concatenated.csv')
all_countries_df

    Code             Entity  Year
0    AFG        Afghanistan  2017
1    ALA      Aland Islands  2017
2    ALB            Albania  2017
3    DZA            Algeria  2017
4    ASM     American Samoa  2017
..   ...                ...   ...
243  WLF  Wallis and Futuna  2017
244  ESH     Western Sahara  2017
245  YEM              Yemen  2017
246  ZMB             Zambia  2017
247  ZWE           Zimbabwe  2017

[248 rows x 3 columns]

In [15]:
concatenated_df

,Code,Entity,Beef and Buffalo,Seafood,Egg,Milk,Peanut,Almond,Barley,Cashew,...,Oat,Pecan,Pine,Pistachio,Rice,Rye,Walnut,Wheat,Population,Continent
0,AFG,Afghanistan,0.069653,0.000000,0.056050,0.116427,0.172892,0.517742,0.092527,0.550479,...,0.271605,0.078642,0.2325,0.130112,0.080258,0.000000,0.394366,0.820109,"37,172,386",AS
1,AGO,Angola,0.139671,0.220761,0.019128,0.018547,0.172892,0.517742,0.000000,0.550479,...,0.259259,0.078642,0.2325,0.118959,0.045694,0.000000,0.394366,0.164143,"30,809,762",AF
2,ALB,Albania,0.397075,0.056489,0.641459,0.865639,0.172892,0.517742,0.003559,0.550479,...,0.271605,0.078642,0.2325,0.118959,0.037493,0.020243,0.394366,0.630527,"2,866,376",EU
3,ANT,Netherlands Antilles,0.146984,0.297369,0.185943,0.353289,0.172892,0.517742,0.007117,0.550479,...,0.271605,0.078642,0.2325,0.118959,0.071470,0.000000,0.394366,0.308298,"300,000",NAM
4,ARE,United Arab Emirates,0.088848,0.270396,0.322064,0.070531,0.172892,0.541935,0.007117,0.550479,...,0.271605,0.014073,0.2325,0.118959,0.322789,0.000000,0.394366,0.485161,"9,630,959",AS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,WSM,Samoa,0.175503,0.509286,0.086744,0.069480,0.172892,0.517742,0.000000,0.550479,...,0.271605,0.078642,0.2325,0.118959,0.033978,0.000000,0.394366,0.263477,"196,130",OC
180,YEM,Yemen,0.072578,0.032279,0.058719,0.022817,0.172892,0.517742,0.000000,0.550479,...,0.259259,0.078642,0.2325,0.118959,0.101347,0.000000,0.394366,0.526348,"28,498,687",AS
181,ZAF,South Africa,0.315356,0.063232,0.283363,0.115113,0.260894,0.517742,0.003559,0.550479,...,0.320988,0.002483,0.2325,0.118959,0.096661,0.000000,0.394366,0.288916,"57,779,622",AF
182,ZMB,Zambia,0.072761,0.130444,0.096975,0.025160,0.172892,0.517742,0.000000,0.550479,...,0.259259,0.078642,0.2325,0.118959,0.015231,0.000000,0.394366,0.049667,"17,351,822",AF
183,ZWE,Zimbabwe,0.120475,0.038470,0.069840,0.063349,0.172892,0.517742,0.007117,0.550479,...,0.259259,0.078642,0.2325,0.118959,0.056825,0.000000,0.394366,0.138098,"14,439,018",AF

In [33]:
missing_df = all_countries_df[~all_countries_df['Code'].isin(concatenated_df['Code'])]\
             .reset_index()[['Code', 'Entity']]
missing_df

   Code                                Entity
0   ALA                         Aland Islands
1   ASM                        American Samoa
2   AND                               Andorra
3   AIA                              Anguilla
4   ABW                                 Aruba
..  ...                                   ...
67  UMI  United States Minor Outlying Islands
68  VGB              Virgin Islands (British)
69  VIR                 Virgin Islands (U.S.)
70  WLF                     Wallis and Futuna
71  ESH                        Western Sahara

[72 rows x 2 columns]

In [36]:
with open('../Food Allergies Data/all_missing_countries.csv', 'w') as f:
    f.write(missing_df.to_csv(columns=['Code', 'Entity']))
f.close()